.sponsorship {
    position: relative;
    width: 322px;
    height: 480px;
    background: white;
    margin-left: 1050px;
    margin-top: -480px;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
}
h3{
  text-align: center;
}
.sponsorship a{
    position: relative;
    padding: 5px;
    margin-top: 20px;
}

iframe {
  margin-left: 6px ; 
  margin-top: 20px;
}
