.patrocinio{
  background-color: #ffffff;
  height: 425px;
  width: 223px;
  margin-top: 20px;
  margin-left: 10px;
  border: 0px solid #1C6EA4;
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  position: relative;
  float: left;
  margin-top: 50px;
}