.aws-btm {

  --slider-height-percentage: 15%;
  --slider-transition-duration: 2ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 18px;
  --organic-arrow-color: #ffffff;
  --control-button-width: 10%;
  --control-button-height: 30%;
  --control-button-background: transparent;
  --control-bullet-color: #686666;
  --control-bullet-active-color: #217416;
  --loader-bar-color: #5dd65d;
  --loader-bar-height: 3px;

  width: 90%;
  height: 300px;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 0;
}

.til {
  margin-top: 30px;
  padding-top: 10px;
}

.tett {
  margin-top: -00px;
  margin-left: 4%;

}


.MuiTypography-root.tett.MuiTypography-body1{
  margin-left: 60px;
  margin-top: 320px;
  position: absolute;
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.photonews {
  background-size:cover;  width:100%;
  /* height: 206px; */
  max-width: 100%;
  object-fit: cover;
  margin: 0;
  border-radius: 5%;
  height: 120px;
  width: 153px;
  cursor: pointer;
  z-index: 1;
  display: block;
}


h4 {
    cursor: pointer;
    height: 83px;
    width: 239px;
    margin-left: 160px;
    margin-top: -120px;
    text-align: left;
    padding: 6px;
}

h4 a {
    color:black;
    text-decoration: none;
    top: 30px;
    margin-left: 0px;
}

.date {
    margin:0;
    padding: 0;
    margin-top:15px;
    position: absolute;
}

.date a{
    margin-left: 300px;
    color: #8B8B8B;
}

.txtnot{
  padding: 10px 0 0 20px;

  color: black;
}

/* CTA */
.cta {
  background-color: #424040;
  /* height: 50px; */
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.651)), url('../../assets/foto8.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 50px;
  z-index: -1;
  color: white;
  top: 10vh;
  margin:0;
  clear: both;
}

.img-address{
  height: 65px;
}


.newstwo{
    height: 120px;
    width: 340px;
    margin-top: 20px;
    margin-left: 10px;
    /*border: 0px solid #1C6EA4;*/
    position: relative;

}

.ti {
  cursor: pointer;
  font-weight: 700;
  font-size: 30px;
}

.tii {
  font-weight: 700;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 100px;
  padding-left: 70px;
}
a:focus, input:focus, button:focus, select:focus {
  font-weight: bold;
}

.ti:hover {
  color:rgb(1, 223, 1);
}

.newsJogoss{
  background-color: white;
  height: 430px;
  min-width: 180px;
  width: 30%;
  margin-left: 4%;
  margin-top: 40px;
  background-color: white;
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  border-radius: 14px;
}

.newsJogossss{
  background-color: white;
  height: 100%;
  min-width: 180px;
  width: 98%;
  margin-left: 2%;
  margin-top: 60px;
  background-color: white;
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.newsJogos5{
  background-color: white;
  height: 570px;
  width: 30%;
  margin-left: 68%;
  margin-top: -700px;
  background-color: white;
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
}
.newsJogos3{
  background-color: white;
  height: 100%px;
  min-width: 180px;
  width: 30%;
  margin-left: 37%;
  margin-top: -431px;
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
  border-radius: 14px;
}

.form {
    margin-top: -150px;
    position: absolute;
}

.form > form{
    margin-top: -30px;
    position: absolute;

}

textarea {
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
    margin-left: 970px;
    margin-top: -41px;
    height: 76px;
    width: 250px;
    padding: 10px 10px;
    border:1px solid rgb(218, 218, 218);
}

.form input {
    margin-left: 1173px;
    margin-top: 10px;
    padding: 6px 13px;
    background-color: white;
    cursor: pointer;
}

.form form a{
    position: absolute;
    margin-left: 720px;
    margin-top: -40px;
    font-weight: bold;
    font-size: 15px;
}
.logo {
  margin-top: 1.1%;
  height: 43px;
  align-items: center;
  text-align: center;
  margin-left: 6%;
  position: absolute;
  cursor: pointer;
}

.tab.a {
  color:rgb(255, 251, 0);
}

.tab.b {
  color:rgb(255, 251, 0);
}

.aces {
  padding: 0px 0px 0px 50px;
  display: inline;
}