.root {
  background-color: red;
}
body {
  background: red;
  padding: 0;
  margin: 0;
  background-color: #CE3E3E;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.ul {
  background-color:  #388E3C;
}

.logo {
  margin-top: 0.2%;
  height: 43px;
  margin-left: 60px;
  position: absolute;
  align-items: center;
  text-align: center;
}

.margin{
  margin-left: 210px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  /* background-color: #008115; */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover:not(.active) {
  color: #FFF700;
}

.active {
  background-color: #4CAF50;
}
