
.form {
  margin-top: -150px;
  position: absolute;
}

.img{
  height: 40px; 
  margin-left: -5px; 
  margin-top: -40px;
}

.input-one {
  margin-left: 720px; 
  margin-top: -92px;
}

.footer {
}

.input-two {
  margin-left: 720px; 
  margin-top: 4px;
}